<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="personalInfo">
    <div class="my-auto">
      <h2 class="mb-3">Personal Information</h2>
    
      <div class="row">
          <div class="col-md-6">
            <div class="resume-item d-flex flex-column flex-md-row mb-2">
                <div class="resume-content mr-auto">
                  <h3 class="mb-0">Adress</h3>
                  <div>PO BOX 12062 Arusha, Tanzania</div>
                  <!-- <p>GPA: 3.23</p> -->
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="resume-item d-flex flex-column flex-md-row mb-2">
                <div class="resume-content mr-auto">
                  <h3 class="mb-0">Email Adress</h3>
                  <div><a href="mailto:name@email.com">kimarioemmanuel@gmail.com</a></div>
                  <!-- <p>GPA: 3.23</p> -->
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="resume-item d-flex flex-column flex-md-row mb-2">
                <div class="resume-content mr-auto">
                  <h3 class="mb-0">Birth Date</h3>
                  <div>18th April</div>
                  <!-- <p>GPA: 3.23</p> -->
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="resume-item d-flex flex-column flex-md-row mb-2">
                <div class="resume-content mr-auto">
                  <h3 class="mb-0">Marital Status</h3>
                  <div>Single</div>
                  <!-- <p>GPA: 3.23</p> -->
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="resume-item d-flex flex-column flex-md-row mb-2">
                <div class="resume-content mr-auto">
                  <h3 class="mb-0">Phone Number</h3>
                  <div>+255755077802</div>
                  <!-- <p>GPA: 3.23</p> -->
                </div>
            </div>
          </div>
      </div>

     
  </section>